<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601,UTC} \(UTC\) :: %-5p [%C#%M:%L] :: %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.globallogic.att" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.glassfish.jersey" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="javax.ws.rs" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.hibernate" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.type" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.sql" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
