bin/
target/
*.prefs
.settings/
.project/
/maven/appFinalizer/.idea/compiler.xml
/maven/appFinalizer/.idea/copyright/profiles_settings.xml
/maven/appFinalizer/.idea/encodings.xml
/maven/appFinalizer/.idea/misc.xml
/maven/appFinalizer/.idea/modules.xml
/maven/appFinalizer/.idea/.name
/maven/appFinalizer/.idea/scopes/scope_settings.xml
/maven/appFinalizer/.idea/uiDesigner.xml
/maven/appFinalizer/.idea/vcs.xml
/maven/appFinalizer/.idea/workspace.xml
/maven/appFinalizer/sk.mka.app.finalizer.iml
/spring-mvc/priceIncrease/priceIncrease-step1/.project
/spring-mvc/priceIncrease/priceIncrease-step2/.project
/spring-mvc/priceIncrease/priceIncrease-step3/.project
/spring-mvc/priceIncrease/priceIncrease-step4/.project
/spring-mvc/priceIncrease/priceIncrease-step5/.project
/spring-mvc/priceIncrease/priceIncrease-step6/.project
/spring-mvc/priceIncrease/.project
/velocity/bracek-velocity-thesis/logic/.project
