bin/
target/
*.prefs
.settings/
.project/
/maven/appFinalizer/.idea/compiler.xml
/maven/appFinalizer/.idea/copyright/profiles_settings.xml
/maven/appFinalizer/.idea/encodings.xml
/maven/appFinalizer/.idea/misc.xml
/maven/appFinalizer/.idea/modules.xml
/maven/appFinalizer/.idea/.name
/maven/appFinalizer/.idea/scopes/scope_settings.xml
/maven/appFinalizer/.idea/uiDesigner.xml
/maven/appFinalizer/.idea/vcs.xml
/maven/appFinalizer/.idea/workspace.xml
/maven/appFinalizer/sk.mka.app.finalizer.iml
/spring-mvc/priceIncrease/priceIncrease-step1/.project
/spring-mvc/priceIncrease/priceIncrease-step2/.project
/spring-mvc/priceIncrease/priceIncrease-step3/.project
/spring-mvc/priceIncrease/priceIncrease-step4/.project
/spring-mvc/priceIncrease/priceIncrease-step5/.project
/spring-mvc/priceIncrease/priceIncrease-step6/.project
/spring-mvc/priceIncrease/.project
/velocity/bracek-velocity-thesis/logic/.project
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep1_war_exploded.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep1_war.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep2_war_exploded.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep2_war.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep3_war_exploded.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep3_war.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep4_war_exploded.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep4_war.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep5_war_exploded.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep5_war.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep6_war_exploded.xml
/spring-mvc/priceIncrease/.idea/artifacts/maSpringMvcStep6_war.xml
/spring-mvc/priceIncrease/.idea/compiler.xml
/spring-mvc/priceIncrease/.idea/copyright/profiles_settings.xml
/spring-mvc/priceIncrease/.idea/encodings.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__asm_asm_3_1.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__cglib_cglib_2_2.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__commons_collections_commons_collections_2_1.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_2.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__commons_pool_commons_pool_1_2.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__hsqldb_hsqldb_1_8_0_7.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__javax_servlet_jstl_1_1_2.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__junit_junit_4_5.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_beans_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_context_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_context_support_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_core_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_jdbc_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_test_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_tx_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_web_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__org_springframework_spring_webmvc_2_5_6.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__postgresql_postgresql_8_3_603_jdbc3.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__xerces_xercesImpl_2_0_2.xml
/spring-mvc/priceIncrease/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
/spring-mvc/priceIncrease/.idea/misc.xml
/spring-mvc/priceIncrease/.idea/modules.xml
/spring-mvc/priceIncrease/.idea/.name
/spring-mvc/priceIncrease/.idea/scopes/scope_settings.xml
/spring-mvc/priceIncrease/.idea/uiDesigner.xml
/spring-mvc/priceIncrease/.idea/vcs.xml
/spring-mvc/priceIncrease/.idea/workspace.xml
/spring-mvc/ondrej/.idea/artifacts/springapp_web_war_exploded.xml
/spring-mvc/ondrej/.idea/artifacts/springapp_web_war.xml
/spring-mvc/ondrej/.idea/compiler.xml
/spring-mvc/ondrej/.idea/copyright/profiles_settings.xml
/spring-mvc/ondrej/.idea/encodings.xml
/spring-mvc/ondrej/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/spring-mvc/ondrej/.idea/libraries/Maven__commons_collections_commons_collections_2_1.xml
/spring-mvc/ondrej/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_2.xml
/spring-mvc/ondrej/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/spring-mvc/ondrej/.idea/libraries/Maven__commons_pool_commons_pool_1_2.xml
/spring-mvc/ondrej/.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
/spring-mvc/ondrej/.idea/libraries/Maven__javax_persistence_persistence_api_1_0.xml
/spring-mvc/ondrej/.idea/libraries/Maven__javax_servlet_jstl_1_1_2.xml
/spring-mvc/ondrej/.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml
/spring-mvc/ondrej/.idea/libraries/Maven__junit_junit_4_0.xml
/spring-mvc/ondrej/.idea/libraries/Maven__log4j_log4j_1_2_13.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_directwebremoting_dwr_3_0_M1.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_mortbay_jetty_cometd_6_1_4.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_mortbay_jetty_jetty_util_6_1_4.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_aop_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_beans_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_context_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_context_support_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_core_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_jdbc_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_tx_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_web_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__org_springframework_spring_webmvc_2_5_3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__postgresql_postgresql_8_3_603_jdbc3.xml
/spring-mvc/ondrej/.idea/libraries/Maven__taglibs_standard_1_1_2.xml
/spring-mvc/ondrej/.idea/libraries/Maven__xerces_xercesImpl_2_0_2.xml
/spring-mvc/ondrej/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
/spring-mvc/ondrej/.idea/misc.xml
/spring-mvc/ondrej/.idea/modules.xml
/spring-mvc/ondrej/.idea/.name
/spring-mvc/ondrej/.idea/scopes/scope_settings.xml
/spring-mvc/ondrej/.idea/uiDesigner.xml
/spring-mvc/ondrej/.idea/vcs.xml
/spring-mvc/ondrej/.idea/workspace.xml
